<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Pizza Review</title>
	<link rel="stylesheet" type="text/css" th:href="style.css" />
	<link rel="stylesheet" type="text/css" th:href="style-footer.css" />
	<link rel="stylesheet" type="text/css" th:href="layout-footer.css" />
	<link rel="stylesheet" type="text/css" th:href="layout-review.css" />	
</head>

<body>
	<div class="container">

		<header>
			<h1 id="reviewDetailHeader">Pizza Review</h1>
		</header>

		<section class="center">

			<img th:src="${review.imageURL}" alt="pizza image" />

			<h2 class="centerText italicText" th:text="${review.getTitle()}"></h2>

			<p th:text="${review.content}"></p>

			<p th:text="'Category: ' + ${review.category.name}"></p>

			<p th:if="${not #strings.isEmpty(review.address)}" th:text="'Location: ' + ${review.address}" ></p>

			<p class="rating" th:text="'Rating: (out of 5) '"></p>

			<img class="rating" id="ratingStar"
				th:each="i : ${#numbers.sequence( 1, review.rating)}"
				src="images/smooth-star.jpg" alt="*" />

			<p>
				<a th:href="${review.website}">Company Website</a>
			</p>

			<p th:text="'Review Date: ' + ${review.date}"></p>

			<div class="comment-list">
				<ul th:if="${review.getCommentCount()} &gt; 0">
					<li th:each="comment: ${review.comments}">
						<p th:text="${comment.text}"></p>
						<button>delete</button>
					
					</li>
				</ul>
			</div>	
			<div class="tag-list">
				<ul th:if="${review.getTagCount()} &gt; 0">
					<li th:each="tag: ${review.tags}">
						<a tag-count="0" class="tag"
							th:attr="tag-count = ${tag.getTaggedPizzaReviewsSize()}"
							th:href="@{/singleTag(id=${tag.id})}" th:text="${tag.name}">
						</a>
					</li>
				</ul>
			</div>	
			
			<div class="add-remove-tag-form">
				<form method = "POST">
					<label>Enter a new tag:</label>
					<input type="text" name="tagName" />
					<button th:formaction="@{/add-tag(id=${review.id})}">add</button>
				</form>
	
				<form method = "POST">
					<label>Enter name of tag to remove:</label>
					<input type="text" name="tagName" />
					<button th:formaction="@{/remove-tag(id=${review.id})}">delete</button>
				</form>	
			</div>
		</section>
		
		<footer>
			<a href="http://localhost:8080/categoryList">Pizza Categories</a>
			<p>I like Pizza!</p>
			<p>WCCI Week 7 Project</p>
		</footer>

	</div> <!--end class="container" div -->
</body>
</html>